.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-radius: 8px; 
  padding: 20px;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s; 

  
  transform: translateY(0);
}

.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
  background-color: #f8f8f8; 
  transform: translateY(-5px); 
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/